.new-list
  width: 100%
  box-sizing: border-box
  padding:0 10px
.time
  line-height: 50px
  color:#ccc
  font-size:12px
.item a
  width: 100%
  display: flex
  box-sizing: border-box
  border-radius: 6px
  padding:15px
  background-color:#fff
  justify-content: space-between
  border:1px solid #eaeaea
  box-shadow: 0 2px 1px -1px #aba6a6;
  text-decoration: none
  color:#333
.item
  margin-bottom: 10px
  &:last-of-type
    margin-bottom: 0
.item-title
  // width:60%
  line-height: 20px
  flex:2
.image-wrapper
  position relative
  // width:23%
  height:70px
  flex:1
  text-align: right
  img
    width: 75px;
    height: 70px;
    background-color:#ccc