.topbar
  display: flex
  position: fixed
  width:100%
  color:#fff
  box-sizing: border-box
  padding:0 10px
  background-color:#21b0f5
  z-index:3
  height:50px
  display:flex
  align-items: center
  z-index:100
  justify-content: space-between;
  top:0;
.iconfont
  font-size:20px
.right-box
  display: flex
  >div
    min-width:50px
    text-align: center