.topbar
  position: fixed
  width:100%
  color:#fff
  box-sizing: border-box
  padding:15px 10px
  background-color:#21b0f5
  z-index:3
  height:50px
  display:flex
  align-items: center
.nav-icon
  font-size:20px
  margin-right: 20px
.topbar-tag
  font-size:16px
  font-weight: bold