@import '../assets/stylus/components/NewList';
.themeDetails
  margin-top:50px
.top-wrapper
    height: 250px;
    position: relative;
    img
      width:100%;
      height:100%;
    p
      display: flex;
      align-items: center;
      height: 110px;
      position: absolute;
      z-index: 2;
      color: #fff;
      font-size: 20px;
      bottom: 0;
      width: 100%;
      line-height: 25px;
      font-weight: bold;
      text-align: left;
      padding: 0 20px;
      box-sizing: border-box;
      background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.7));
.new-list
  margin-top:20px